:root {
    --main-color: #fde008;
    --main-gray: rgb(30, 30, 30);
    --light-gray: rgb(201, 201, 201);
}
*{
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: Helvetica, sans-serif;
    background-color: var(--main-color);
}
#menu {
    height: 200px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 200px;
    align-items: center;
    overflow: hidden;
    position:relative;

}
#menu #secciones {
     display: flex;
     flex-direction: row;
}
#menu #secciones .seccion {
     position: relative;
     padding: 0px 12px;
     display: flex;
     flex-direction: column;
}
#menu #secciones .seccion .desplegable {
    position: absolute;
    top: 20px;
    background-color: rgb(23, 23, 23);
    color: var(--main-color);
    display: none;
    /*flex-direction: column;*/
    padding: 16px;
}
#menu #secciones .seccion .desplegable a{
    white-space: nowrap;
    text-decoration: none;
    color: white;
    padding: 4px;
}
#menu #burger-menu{
    display:none;
}
header.hero {
     /* background-image: url('../img/ilustracion/ReadyToRumble_IG.jpg');
     background-size: cover;
     background-position: center; */
     background-color: aquamarine;
     width: 100vw;
     height: 700px;
     display: flex;
}
header.hero .imagen img {
     width: 100%;
}
div.row{
    width: 100vw;
    padding: 20px 10%;
}
div.row #trabajos {
    display: flex;
    justify-content: flex-start;
    border-bottom: solid black 2px;
    width: 100%;
}
div.row #trabajos div{
    padding: 10px 10px;
}
.ventana {
    width: 100vw;
    overflow: hidden;
}
.super-container {
    white-space: nowrap;
    position:relative;
    transition: 1s;
}
div.content{
    width: 100vw;
    /* height: 1200px; */
    display: inline-flex;
    flex-direction: row;
    align-content:space-evenly;
    flex-wrap: wrap;
    padding: 20px 10%;
}
div.content .caja {
    position: relative; 
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 24%;
     aspect-ratio: 1/1;
     margin: 5px 0.5%;
     overflow: hidden;
}
div.content .caja .texto{
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 24px;
    backface-visibility:hidden;
    transform: rotateX(180deg);
    transition: 1s;
    z-index:2;
}
div.content .caja img {
    width: 100%;
    overflow: hidden;
    transition: 1s;
    object-fit: cover;
}
div.content .caja .pantalla{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-gray);
    opacity: 0;
    transition: 1s;
}
.contenedor_lightbox .cierre {
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--main-color);
    border: none;
    font-size: 32px;
    z-index: 100;
    position: fixed;
    top: 44px;
    right: 23px;
    display: none;
}
/*----------MENU DESPLEGABLE------------*/
#desplegable {
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: -80%;
    padding: 12px;
    z-index: 2;
    transition: 1s;
} 
#close {
    position: absolute;
    top: 89px;
    right: -200px;
    transition: 1s;
}
#desplegable .seccion {
    padding: 4px 0px;
    font-size: 14px;
}
/*------------footer----------------*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;

}
footer .social{
    text-align: center;
    font-size: 24px;
    color: black;
}
footer .social i{
    padding: 10px 10px;
}
footer .links {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
footer .links a{
    text-decoration: none;
    padding: 4px 10px;
    color: lightslategray;
    border-right: solid black 1px;
}
/*------------lightbox----------------*/
.contenedor_lightbox {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top:0;
    z-index:3;
}
.fondo_lightbox {    
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-gray);
    opacity: 0.5;
}
.lightbox {
    width:70%;
    background-color: var(--main-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px;
    z-index:2;
}
.contenedor_lightbox .lightbox .titulo_lightbox h1{
    
    color: var(--main-color);
} 
.contenedor_lightbox .lightbox .descripcion_lightbox{
    padding: 30px 0px;
    color: var(--main-color);
}
.contenedor_lightbox .lightbox .imgs_lightbox{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}    
.contenedor_lightbox .lightbox img{
    width: 20%;
}
/*---------------------- ANIMACIONES --------------------------*/
footer .social:hover{
    color: lightslategray;
}
footer .social i:hover{
    color: black;
}
footer .links a:hover{
    text-decoration: none;
    color: rgb(169, 180, 191);
}
#menu #secciones .seccion:hover {
    color: rgb(169, 180, 191);
}
#menu #secciones .seccion:hover .desplegable {
    display: flex;
    flex-direction: column;
}
div.content .caja:hover .imagen {
    transform: scale(1.5);
}
div.content .caja:hover .texto{
    transform: rotateX(0deg);
}
div.content .caja:hover .pantalla{
    opacity: 0.8;
}
/*-------------MEDIA QUERYS---------------------*/
@media (min-width: 768px) and (max-width: 1000px) {

    #menu #secciones {
        display:none;
    }
    #menu #burger-menu {
        display:flex;
    }
    header.hero {
        height: 500px;
    }
    header.hero .imagen{
    width: 50%;
    margin: 0 auto;
    }
    div.row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        padding: 40px 10%;
    }
    #menu {
        height: 200px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        align-items: center;
    }
    div.content .caja {
        width: 32%;
    }
    /*-------LIGHTBOX----------*/
    .contenedor_lightbox {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 10;
    }
    .lightbox {
        width:80%;
        max-height: 98vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding: 20px;
        z-index:2;
    }
    .contenedor_lightbox .lightbox .imgs_lightbox{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        height: 90vh;
        overflow-y: scroll;
    }   
    .contenedor_lightbox .lightbox img{
        width: 25%;
        padding: 8px 0px;
    }
    .contenedor_lightbox .cierre {
        position: fixed;
        top: 44px;
        right: 23px;
        display: block;
    }

}
@media screen and (max-width: 767px) {

    #menu #secciones {
        display:none;
    }
    #menu #burger-menu {
        display:flex;
    }
    header.hero {
        height: 500px;
   }
    div.row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 60px 12px;
        
    }
    #menu {
        height: 200px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        align-items: center;
    }
    div.content .caja {
        width: 100%;
    }
    header.hero .imagen{
    width: 80%;
    margin: 0 auto;
    }
    .show {
        transform: translateX(100%);  
    }
    .show-close {
        transform: translateX(-210px);
    }
    div.row #trabajos div{
        padding: 10px 10px;
        font-size: 12px;
    }
    div.row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 10%;
    }
    /*-------LIGHTBOX----------*/
    .contenedor_lightbox {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 10;
    }
    .lightbox {
        width:100%;
        max-height: 98vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding: 20px;
        z-index:2;
    }
    .contenedor_lightbox .lightbox .imgs_lightbox{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        height: 90vh;
        overflow-y: scroll;
    }   
    .contenedor_lightbox .lightbox img{
        width: 100%;
        padding: 8px 0px;
    }
    .contenedor_lightbox .cierre {
        position: fixed;
        top: 44px;
        right: 23px;
        display: block;
    }
}
/*-------------------CLASES JQUERYS----------------------*/
.go-item-1 {
    left:0;
}
.go-item-2 {
    left:-100vw;
}
.go-item-3 {
    left:-200vw;
}
.go-item-4 {
    left:-300vw;
}
.go-item-5 {
    left:-400vw;
}
.selected-item {
    background-color: var(--main-gray);
    color: var(--main-color);
}
.display-none {
    display:none;
}