:root {
    --main-color: #fde008;
    --main-gray: rgb(30, 30, 30);
    --light-gray: rgb(201, 201, 201);
}
*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--main-gray);
    font-weight: bold;
}
body {
    margin:0;
    font-family: Helvetica, sans-serif;
    background-color: var(--main-color);
}
#menu {
    height: 200px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 200px;
    align-items: center;
    overflow: hidden;
    position:relative;

}
#menu #secciones {
     display: flex;
     flex-direction: row;
}
#menu #secciones .seccion {
     position: relative;
     padding: 0px 12px;
     display: flex;
     flex-direction: column;
}
#menu #burger-menu{
    display:none;
}
header.hero {
    background-color: rgb(26, 26, 26);
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}
header.hero .capa {
    width: 100%;
    position: absolute;
    text-align: center;
}
header.hero .capa img {
    /* width: 70%; */
    object-fit: cover;
}
header.hero .capa#capa_1 {
    z-index: 40;
}
header.hero #capa_2 {
    z-index: 30;
}
header.hero #capa_3 {
    z-index: 20;
}
.caja .elemento_carga {
    width: 100%;
    height: 100%;
    background-color: var(--main-gray);
    position: absolute;
    z-index: 2;
}
.caja .elemento_carga #circulo_carga{
    stroke: var(--main-color);
    fill: transparent;
    animation-name: circulo_carga;
    animation-duration: 4s;
    stroke-dasharray: 200%;
    animation-iteration-count: infinite;
}
/*-----------------------FORM--------------------------*/
header.hero#contact {
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header.hero#contact .form_box{
    width: 40%;
    background-color: var(--main-gray);
    padding: 10px;
}
header.hero#contact .form_box h2{
    color: var(--main-color);
}
header.hero#contact .form_box .barra_carga{
    height: 2px;
    width: 0%;
    background-color: var(--main-color);
    margin: 40px 0px;
    transition: 0.5s;
}
header.hero#contact .form_box form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header.hero#contact .form_box .campo-50{
    width: 30%;
    border-left: solid 1px var(--main-color);
    padding: 10px;
    margin: 10px;
}
header.hero#contact .form_box .campo-100{
    width: 64%;
    border-left: solid 1px var(--main-color);
    padding: 10px;
    margin: 10px;
}
header.hero#contact .form_box .boton_form{
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
header.hero#contact .form_box .boton_form input{
    width: 30%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: var(--main-color);
    color: var(--main-gray);
}
header.hero#contact .form_box form p{
    color: var(--main-color);
}
header.hero#contact .form_box form input{
    color: var(--main-gray);
    width: 80%;
    height: 34px;
    border: none;
    outline: none;
}
header.hero#contact .form_box form textarea{
    color: var(--main-gray);
    width: 80%;
    height: 34px;
    border: none;
    outline: none;
}
/*-----------------------------FIN DE FORM----------------------------------------*/
/*------------GALERIA------------*/
header.hero .imagen img {
     width: 100%;
}
div.row{
    width: 100vw;
    padding: 20px 10%;
}
div.row #trabajos {
    display: flex;
    justify-content: flex-start;
    border-bottom: solid black 2px;
    width: 100%;
}
div.row #trabajos div{
    padding: 10px 10px;
}
.ventana {
    width: 100%;
    overflow: hidden;
}
.super-container {
    white-space: nowrap;
    position:relative;
    transition: 1s;
}
div.content{
    width: 100vw;
    /* height: 1200px; */
    display: inline-flex;
    flex-direction: row;
    align-content:space-evenly;
    flex-wrap: wrap;
    padding: 20px 10%;
}
div.content .caja {
    position: relative; 
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 24%;
     aspect-ratio: 1/1;
     margin: 5px 0.5%;
     overflow: hidden;
}
div.content .caja .texto{
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 24px;
    backface-visibility:hidden;
    transform: rotateX(180deg);
    transition: 1s;
    z-index:2;
}
div.content .caja .texto span{
    white-space: normal;
    text-align: center;
}
div.content .caja img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 1s;
    object-fit: cover;
}
div.content .caja .pantalla{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-gray);
    opacity: 0;
    transition: 1s;
}
.contenedor_lightbox .cierre {
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--main-color);
    border: none;
    font-size: 32px;
    z-index: 100;
    position: fixed;
    top: 44px;
    right: 23px;
    display: none;
}
/*-----------------INFORMACION---------------------*/
header.hero#info {
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header.hero#info .info_box{
    width: 40%;
    background-color: var(--main-gray);
    padding: 10px;
}
header.hero#info .info_box h2{
    color: var(--main-color);
}
header.hero#info .info_box .info_content {
    display: flex;
    justify-content: flex-start;
}
header.hero#info .info_box .info_content .avatar {
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: var(--main-color) solid 2px;
    overflow: hidden;
    animation-name: avatar_animation;
    animation-duration: 1s;
}
header.hero#info .info_box .info_content .avatar img{
    width: 100%;
}
header.hero#info .info_box .info_content .text_info {
    width: 75%;
    color: var(--main-color);
    border-left: var(--main-color) solid 2px;
    margin: 0px 4%;
    padding: 0px 4%;
}
/*----------MENU DESPLEGABLE------------*/
#desplegable {
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: -80%;
    padding: 12px;
    z-index: 50;
    transition: 1s;
} 
#close {
    position: absolute;
    top: 89px;
    right: -200px;
    transition: 1s;
}
#desplegable .seccion {
    padding: 4px 0px;
    font-size: 14px;
}
/*------------footer----------------*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-color: var(--main-gray);
}
footer .social{
    text-align: center;
    font-size: 24px;
    color: var(--light-gray);
}
footer .social i{
    padding: 10px 10px;
}
/*------------lightbox----------------*/
.contenedor_lightbox {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top:0;
    z-index:50;
}
.fondo_lightbox {    
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-gray);
    opacity: 0.5;
}
.lightbox {
    width:70%;
    max-height: 100vh;
    background-color: var(--main-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px;
    z-index:2;
}
.contenedor_lightbox .lightbox .titulo_lightbox h1{
    width: 75%;
    color: var(--main-color);
} 
.contenedor_lightbox .lightbox .descripcion_lightbox{
    padding: 30px 0px;
    color: var(--main-color);
}
.contenedor_lightbox .lightbox .imgs_lightbox{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}    
.contenedor_lightbox .lightbox .imgs_lightbox img{
    /* width: 20%; */
    height: 600px;
    padding: 10px 0px
}
.contenedor_lightbox .lightbox .imgs_lightbox video{
    width: 75%;
    padding: 10px 0px
}
/*---------------------- ANIMACIONES --------------------------*/
footer .social i:hover{
    color: var(--main-color);
}
#menu #secciones .seccion:hover {
    color: var(--light-gray);
}
div.content .caja:hover .imagen {
    transform: scale(1.5);
}
div.content .caja:hover .texto{
    transform: rotateX(0deg);
}
div.content .caja:hover .pantalla{
    opacity: 0.8;
}
@keyframes avatar_animation{
    0% {
        transform: scale(0);
        
    }
    75%{
        transform: scale(110%);
        filter: blur(2px);
    }
    100%{
        transform: scale(100%);
        filter: blur(0px);
    }

}
@keyframes  circulo_carga {
    0%{
        stroke-dasharray: 0% 200%;
    }
    50%{
        stroke-dasharray: 200% 200%;
        stroke-dashoffset: 0%;
    }
    100%{
        stroke-dashoffset: 200%;
    }
}
/*-------------MEDIA QUERYS---------------------*/
@media (min-width: 768px) and (max-width: 1200px) {

    #menu #secciones {
        display:none;
    }
    #menu #burger-menu {
        display:flex;
    }
    header.hero {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header.hero .capa {
        width: 100%;
        position: absolute;
        text-align: center;
    }
    header.hero .capa img {
        width: 100%;
    }
    .show {
        transform: translateX(100%);  
    }
    .show-close {
        transform: translateX(-210px);
    }
    div.row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 40px 10%;
    }
    #menu {
        height: 200px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        align-items: center;
    }
    div.content .caja {
        width: 32%;
    }
    /*-------LIGHTBOX----------*/
    .contenedor_lightbox {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 10;
    }
    .lightbox {
        width:80%;
        max-height: 98vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding: 20px;
        z-index:2;
    }
    .contenedor_lightbox .lightbox .imgs_lightbox{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        height: 90vh;
        overflow-y: scroll;
    }   
    .contenedor_lightbox .lightbox img{
        /* width: 25%; */
        padding: 8px 0px;
    }
    .contenedor_lightbox .cierre {
        position: fixed;
        top: 44px;
        right: 23px;
        display: block;
    }
    /*-------form----------*/
    header.hero#contact .form_box{
        width: 90%;
        background-color: var(--main-gray);
        padding: 10px;
    }
    header.hero#contact .form_box .campo-50{
        width: 30%;
        padding: 10px;
        margin: 10px;
    }
    header.hero#contact .form_box .campo-100{
        width: 100%;
    }
    header.hero#contact .form_box .boton_form{
        width: 100%;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    header.hero#contact .form_box .boton_form input{
        width: 75%;
    }
    header.hero#contact .form_box form input{
        width: 100%;

    }

    /*----------informacion-----------*/
    header.hero#info .info_box{
        width: 70%;
        padding: 10px;
    }
    header.hero#info .info_box .info_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    header.hero#info .info_box .info_content .avatar {
        width: 30%;
        margin: 20px 0px;
    }
    header.hero#info .info_box .info_content .avatar img{
        width: 100%;
    }
    header.hero#info .info_box .info_content .text_info {
        width: 100%;
        padding: 10px 4%;
    }
}
@media screen and (max-width: 767px) {

    #menu #secciones {
        display:none;
    }
    #menu #burger-menu {
        display:flex;
    }
    div.row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 60px 12px;
        
    }
    #menu {
        height: 200px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        align-items: center;
    }
    div.content .caja {
        width: 100%;
    }
    header.hero {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header.hero .capa {
        width: 100%;
        position: absolute;
        text-align: center;
    }
    header.hero .capa img {
        width: 100%;
    }
    .show {
        transform: translateX(100%);  
    }
    .show-close {
        transform: translateX(-210px);
    }
    div.row #trabajos div{
        padding: 10px 10px;
        font-size: 12px;
    }
    div.row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 10%;
    }
    /*-------LIGHTBOX----------*/
    .contenedor_lightbox {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 10;
    }
    .lightbox {
        width:100%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding: 20px;
        z-index:2;
    }
    .contenedor_lightbox .lightbox .imgs_lightbox{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        height: 90vh;
        overflow-y: scroll;
    }   
    .contenedor_lightbox .lightbox .imgs_lightbox img{
        width: 100%;
        height: auto;
        padding: 8px 0px;
    }
    .contenedor_lightbox .cierre {
        position: fixed;
        top: 44px;
        right: 23px;
        display: block;
    }
    /*-------form----------*/
    header.hero#contact .form_box{
        width: 90%;
        background-color: var(--main-gray);
        padding: 10px;
    }
    header.hero#contact .form_box .campo-50{
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
    header.hero#contact .form_box .campo-100{
        width: 100%;
    }
    header.hero#contact .form_box .boton_form{
        width: 100%;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    header.hero#contact .form_box .boton_form input{
        width: 75%;
    }
    header.hero#contact .form_box form input{
        width: 100%;

    }
    /*----------informacion-----------*/
    header.hero#info .info_box{
        width: 90%;
        padding: 10px;
    }
    header.hero#info .info_box .info_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    header.hero#info .info_box .info_content .avatar {
        width: 70%;
        margin: 20px 0px;
    }
    header.hero#info .info_box .info_content .avatar img{
        width: 100%;
    }
    header.hero#info .info_box .info_content .text_info {
        width: 100%;
        padding: 10px 4%;
    }
}
/*-------------------CLASES JQUERYS----------------------*/
.go-item-1 {
    left:0;
}
.go-item-2 {
    left:-100vw;
}
.go-item-3 {
    left:-200vw;
}
.go-item-4 {
    left:-300vw;
}
.go-item-5 {
    left:-400vw;
}
.selected-item {
    background-color: var(--main-gray);
    color: var(--main-color);
}
.display-none {
    display:none;
}